@import 'https://fonts.googleapis.com/css2?family=Lilex:ital,wght@0,100..700;1,100..700&display=swap';

* {
	cursor: url(cursor.png), auto;
}

:root {
	/* --- Background & Foreground --- */
	--bg-color: #ffffed;
	--fg-color: #000;

	/* --- Normal Intensity (0-7) --- */
	--color-0: #000;

	/* Black */
	--color-1: #ad4f4f;

	/* Red */
	--color-2: #468747;

	/* Green */
	--color-3: #8f7734;

	/* Yellow */
	--color-4: #268bd2;

	/* Blue */
	--color-5: #888aca;

	/* Magenta */
	--color-6: #6aa7a8;

	/* Cyan */
	--color-7: #f3f3d3;

	/* White/Grey */

	/* --- Bright Intensity (8-15) --- */
	--color-8: #878781;

	/* Bright Black */
	--color-9: #fdd;

	/* Bright Red */
	--color-10: #ebffeb;

	/* Bright Green */
	--color-11: #edeea5;

	/* Bright Yellow */
	--color-12: #ebffff;

	/* Bright Blue */
	--color-13: #96d197;

	/* Bright Magenta */
	--color-14: #a1eeed;

	/* Bright Cyan */
	--color-15: #ffffeb;

	/* Bright White */

	--fs-h1: clamp(1.75rem, 3vw + 0.5rem, 2.5rem);
	--fs-h2: clamp(1.4rem, 2vw + 0.4rem, 1.8rem);
	--fs-p: clamp(1rem, 0.2vw + 0.9rem, 1.125rem);
}


#lilex-header1 {
	font-size: var(--fs-h1);
	font-family: Lilex, ui-monospace,

		SFMono-Regular,

		'Cascadia Code',

		'Source Code Pro',

		Menlo,

		Consolas,

		'DejaVu Sans Mono',

		monospace;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: normal;
}

#lilex-header2 {
	font-size: var(--fs-h2);
	font-family: Lilex, ui-monospace,

		SFMono-Regular,

		'Cascadia Code',

		'Source Code Pro',

		Menlo,

		Consolas,

		'DejaVu Sans Mono',

		monospace;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: normal;
}

#lilex-subheaders {
	font-family: Lilex, ui-monospace,

		SFMono-Regular,

		'Cascadia Code',

		'Source Code Pro',

		Menlo,

		Consolas,

		'DejaVu Sans Mono',

		monospace;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

p {
	font-family: Lilex, ui-monospace,

		SFMono-Regular,

		'Cascadia Code',

		'Source Code Pro',

		Menlo,

		Consolas,

		'DejaVu Sans Mono',

		monospace;
	font-optical-sizing: auto;
	font-weight: 300;
	font-style: normal;
	font-size: var(--fs-p);
}

sub,
sup {
	font-family: Lilex, ui-monospace,

		SFMono-Regular,

		'Cascadia Code',

		'Source Code Pro',

		Menlo,

		Consolas,

		'DejaVu Sans Mono',

		monospace;
	font-optical-sizing: auto;
	font-style: normal;
	font-size: 0.75rem;
	font-weight: 500;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

body {
	text-rendering: geometricprecision;
	shape-rendering: geometricprecision;
	text-align: left;
	font-size: clamp(2rem, 5vw + 1rem, 4rem);
	padding: 2rem clamp(1rem, 5vw, 4rem);
	background-color: var(--bg-color);
	color: var(--fg-color);
}

#projects {
	text-align: right;
}

#about {
	text-align: center;
}

.about-me {
	padding: 5px;
}
